:root {
  --accent-default: #7f6f68;
  --accent-disable: #94837c;
  --accent-dark: #b5a59e;
  --accent-medium: #d7c3bb;
  --accent-light: #e9d8d0;
  --accent-very-light: #f8ebe6;
}

.logo {
  height: 40px;
}

.navbar-container {
  background-color: #7f6f68;
  padding: 1% 2%;
  border: 1px solid #7f6f68;
  background-size: cover;
}
