:root {
  --accent-default: #7f6f68;
  --accent-disable: #94837c;
  --accent-dark: #b5a59e;
  --accent-medium: #d7c3bb;
  --accent-light: #e9d8d0;
  --accent-very-light: #f8ebe6;
}

.logo {
  height: 40px;
}

.logo-container {
  display: flex;
  justify-content: start;
  flex: 1;
}

.menu-container {
  display: flex;
  justify-content: center;
  flex: 4;
}

.user-container {
  display: flex;
  justify-content: end;
  flex: 1;
}

.navbar-container {
  background-color: #7f6f68;
  padding: 1% 2%;
  border: 1px solid #7f6f68;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  background-color: #fffcfb;
}

.dropdown-item {
  color: #7f6f68 !important;
  font-style: normal;
  font-weight: normal;
  font-size: 85%;
}

.dropdown-item:hover {
  background-color: #fff6f2;
}

.dropdown-item:active {
  background-color: #f8ebe6;
}

.circle-bg {
  width: 15px;
  height: 15px;
  padding: 3px;
  background-color: #f8ebe6;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 6px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 0;
}
