:root {
  --accent-default: #7f6f68;
  --accent-disable: #94837c;
  --accent-dark: #b5a59e;
  --accent-medium: #d7c3bb;
  --accent-light: #e9d8d0;
  --accent-very-light: #f8ebe6;
}

.custom-btn {
  width: fit-content;
  padding: 8px 18px;
  vertical-align: middle;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  /* font-size: 13px; */
  font-size: 85%;
  line-height: 1.6;
  letter-spacing: 0.3px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
}

.custom-btn:hover {
  cursor: pointer;
}

.custom-btn-disable {
  border: 1px solid #94837c;
  background-color: #94837c;
  color: #d7c3bb;
}

.custom-btn-text {
  border: transparent;
  color: #e9d8d0;
}

.custom-btn-text:hover {
  border: transparent;
  color: #f8ebe6;
}

.custom-btn-text:active {
  cursor: wait;
  border: transparent;
  color: #d7c3bb;
}

.custom-btn-outline {
  border: 1px solid #e9d8d0;
  color: #e9d8d0;
}

.custom-btn-outline:hover {
  border: 1px solid #f8ebe6;
  color: #f8ebe6;
}

.custom-btn-outline:active {
  cursor: wait;
  border: 1px solid #d7c3bb;
  color: #d7c3bb;
}

.custom-btn-contain {
  border: 1px solid #e9d8d0;
  background-color: #e9d8d0;
  color: #7f6f68;
}

.custom-btn-contain:hover {
  border: 1px solid #f8ebe6;
  background-color: #f8ebe6;
  color: #7f6f68;
}

.custom-btn-contain:active {
  cursor: wait;
  border: 1px solid #d7c3bb;
  background-color: #d7c3bb;
  color: #7f6f68;
}

.custom-btn-contain-dark {
  border: 1px solid #7f6f68;
  background-color: #7f6f68;
  color: #f8ebe6;
}

.custom-btn-contain-dark:hover {
  border: 1px solid #94837c;
  background-color: #94837c;
  color: #f8ebe6;
}

.custom-btn-contain-dark:active {
  cursor: wait;
  border: 1px solid #b5a59e;
  background-color: #b5a59e;
  color: #f8ebe6;
}

.custom-btn-user {
  border: transparent;
  color: #fffcfb;
}

.custom-btn-user:hover {
  border: transparent;
  color: #f8ebe6;
}

.custom-btn-user:active {
  cursor: wait;
  border: transparent;
  color: #d7c3bb;
}
