:root {
  --accent-default: #7F6F68;
  --accent-disable: #94837C;
  --accent-dark: #D7C3BB;
  --accent-medium: #E9D8D0;
  --accent-light: #F8EBE6;
}

.custom-btn {
  width: fit-content;
  padding: 8px 18px;
  vertical-align: middle;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  /* font-size: 13px; */
  font-size: 85%;
  line-height: 1.6;
  letter-spacing: 0.3px;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
}

.custom-btn:hover {
  cursor: pointer;
}

.custom-btn-disable {
  border: 1px solid #94837C;
  background-color: #94837C;
  color: #D7C3BB
}

.custom-btn-text {
  border: transparent;
  color: #E9D8D0;
}

.custom-btn-text:hover {
  border: transparent;
  color: #F8EBE6;
}

.custom-btn-text:active {
  cursor: wait;
  border: transparent;
  color: #D7C3BB;
}

.custom-btn-outline {
  border: 1px solid #E9D8D0;
  color: #E9D8D0;
}

.custom-btn-outline:hover {
  border: 1px solid #F8EBE6;
  color: #F8EBE6;
}

.custom-btn-outline:active {
  cursor: wait;
  border: 1px solid #D7C3BB;
  color: #D7C3BB;
}

.custom-btn-contain {
  border: 1px solid #E9D8D0;
  background-color: #E9D8D0;
  color: #7F6F68;
}

.custom-btn-contain:hover {
  border: 1px solid #F8EBE6;
  background-color: #F8EBE6;
  color: #7F6F68;
}

.custom-btn-contain:active {
  cursor: wait;
  border: 1px solid #D7C3BB;
  background-color: #D7C3BB;
  color: #7F6F68;
}