:root {
  --accent-default: #7F6F68;
  --accent-light: #F8EBE6;
  --accent-dark: #D7C3BB;
  --accent-medium: #E9D8D0;
  --accent-disable: #94837C;
}

.custom-btn {
  width: fit-content;
  padding: 8px 18px;
  vertical-align: middle;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  /* font-size: 13px; */
  font-size: 85%;
  line-height: 1.6;
  letter-spacing: 0.3px;
  border-radius: 10px;
}

.custom-btn:hover {
  cursor: pointer;
}

.custom-btn-disable {
  border: 1px solid var(--accent-disable);
  background-color: var(--accent-disable);
  color: var(--accent-dark);
}

.custom-btn-text {
  border: transparent;
  color: var(--accent-medium);
}

.custom-btn-text:hover {
  border: transparent;
  color: var(--accent-light);
}

.custom-btn-text:active {
  cursor: wait;
  border: transparent;
  color: var(--accent-dark);
}

.custom-btn-outline {
  border: 1px solid var(--accent-medium);
  color: var(--accent-medium);
}

.custom-btn-outline:hover {
  border: 1px solid var(--accent-light);
  color: var(--accent-light);
}

.custom-btn-outline:active {
  cursor: wait;
  border: 1px solid var(--accent-dark);
  color: var(--accent-dark);
}

.custom-btn-contain {
  border: 1px solid var(--accent-medium);
  background-color: var(--accent-medium);
  color: var(--accent-default);
}

.custom-btn-contain:hover {
  border: 1px solid var(--accent-light);
  background-color: var(--accent-light);
  color: var(--accent-default);
}

.custom-btn-contain:active {
  cursor: wait;
  border: 1px solid var(--accent-dark);
  background-color: var(--accent-dark);
  color: var(--accent-default);
}