:root {
  --accent-default: #7f6f68;
  --accent-disable: #94837c;
  --accent-dark: #b5a59e;
  --accent-medium: #d7c3bb;
  --accent-light: #e9d8d0;
  --accent-very-light: #f8ebe6;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #d7c3bb;
  border: 1px solid #d7c3bb;
  border-radius: 10px;
  width: fit-content;
  padding: 45px;
  text-align: center;
}

.error-msg {
  background-color: #fff6f2;
  padding: 10px 15px;
  border-radius: 5px;
}
