:root {
  --accent-default: #7f6f68;
  --accent-disable: #94837c;
  --accent-dark: #b5a59e;
  --accent-medium: #d7c3bb;
  --accent-light: #e9d8d0;
  --accent-very-light: #f8ebe6;
}

.about-container {
  background-color: #d7c3bb;
  padding: 5%;
  color: #7f6f68;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content {
  font-weight: 400 !important;
  text-align: center;
  padding: 1% 8% 2% 8%;
}
