:root {
  --accent-default: #7f6f68;
  --accent-disable: #94837c;
  --accent-dark: #b5a59e;
  --accent-medium: #d7c3bb;
  --accent-light: #e9d8d0;
  --accent-very-light: #f8ebe6;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 10%;
}

.addProduct-container {
  padding: 0% 10% 7%;
}

.addProduct-form {
  background-color: #bca79e;
  padding: 8%;
}

.textarea-product {
  resize: none;
}

.custom-select {
  background-color: #e9d8d0;
  border: #e9d8d0;
  border-radius: 5px;
  padding: 8px 10px;
  width: 100% !important;
  outline: none !important;
  font-size: 85%;
  color: #7f6f68;
  transition: all ease-in-out 200ms;
}

.custom-select:hover {
  background-color: #f8ebe6;
}

.custom-select:active {
  background-color: #f8ebe6;
  outline: none !important;
}

.custom-select:focus {
  background-color: #f8ebe6;
  outline: none !important;
}

select {
  color: #7f6f68;
  border: none;
  outline: 0 !important;
}

select:focus,
select:active {
  color: #7f6f68 !important;
  outline: none !important;
  box-shadow: none !important;
}

select option {
  color: #7f6f68;
  background-color: #f8ebe6;
}

.product-table tr:hover {
  cursor: pointer;
}

.collapse-item {
  background-color: rgba(255, 246, 242, 0.8);
}

.collapse-item img {
  height: 150px;
  object-fit: contain;
  margin: 0.5% 2.5%;
}
