:root {
  --accent-default: #7f6f68;
  --accent-disable: #94837c;
  --accent-dark: #b5a59e;
  --accent-medium: #d7c3bb;
  --accent-light: #e9d8d0;
  --accent-very-light: #f8ebe6;
}

.custom-input {
  background-color: #e9d8d0;
  border: #e9d8d0;
  border-radius: 5px;
  padding: 8px 15px;
  width: 100%;
  outline: none;
  font-size: 85%;
  color: #7f6f68;
  transition: all ease-in-out 200ms;
}

.custom-input:hover {
  background-color: #f8ebe6;
}

.custom-input:active {
  background-color: #f8ebe6;
}

.custom-input:valid {
  color: #7f6f68;
}

.custom-input:focus {
  background-color: #f8ebe6;
}
