:root {
    --accent-default: #7F6F68;
    --accent-disable: #94837C;
    --accent-dark: #B5A59E;
    --accent-medium: #D7C3BB;
    --accent-light: #E9D8D0;
    --accent-very-light: #F8EBE6;
}

.input {
    background-color: #E9D8D0;
    border: #E9D8D0;
    border-radius: 5px;
    width: 90%;
    padding: 8px 15px;
    text-align: left;
    font-size: 14.5px;
    transition: all ease-in-out 200ms;
    color: #7F6F68;
}

.input:hover {
    background-color: #F8EBE6;
}

.input:active {
    background-color: #F8EBE6;
}