:root {
    --accent-default: #7F6F68;
    --accent-disable: #94837C;
    --accent-dark: #B5A59E;
    --accent-medium: #D7C3BB;
    --accent-light: #E9D8D0;
    --accent-very-light: #F8EBE6;
  }

.footer-container {
    background-color: #7F6F68;
    padding: 15px 25px;
    border: 1px solid #7F6F68;
    color: #D7C3BB;
}