head,
body {
  font-family: Spartan !important;
  /* background-color: #b5a59e !important; */
  background-color: #d7c3bb !important;
  color: #7f6f68 !important;
  overflow-x: hidden;
  height: 100% !important;
}

thead {
  color: #f8ebe6;
  background-color: #7f6f68;
  text-align: center;
}

tbody {
  color: #7f6f68;
  background-color: #f8ebe6;
  text-align: center;
  vertical-align: middle;
}

tbody tr:hover {
  color: #7f6f68 !important;
  /* background-color: rgba(181, 165, 158, 0.4) !important; */
  background-color: rgba(215, 195, 187, 0.7) !important;
}

/* tbody tr:nth-child(even) {
  background-color: rgba(215, 195, 187, 0.65);
} */

tr,
th,
td {
  border-color: #7f6f68 !important;
  vertical-align: middle !important;
}

h1 {
  font-family: Spartan;
  font-weight: bold !important;
  font-size: 45px;
  /* font-size: 250% !important; */
  line-height: 60px;
  letter-spacing: 0.2px;
}

h2 {
  font-family: Spartan;
  font-weight: bold !important;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.2px;
}

h3 {
  font-family: Spartan;
  font-weight: bold !important;
  font-size: 27px;
  /* font-size: 170% !important; */
  line-height: 38px;
  letter-spacing: 0.1px;
}

h4 {
  font-family: Spartan;
  font-weight: bold !important;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

h5 {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold !important;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

h6 {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold !important;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.subtitle-lg {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.1px;
}

.subtitle-md {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 15px;
  /* font-size: 80%; */
  line-height: 20px;
  letter-spacing: 0.1px;
}

.subtitle-sm {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.subtitle-xs {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.1px;
}

.content-lg {
  font-family: Spartan;
  font-style: normal;
  font-weight: normal !important;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.content-md {
  font-family: Spartan;
  font-style: normal;
  font-weight: normal !important;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.content-sm {
  font-family: Spartan;
  font-style: normal;
  font-weight: normal !important;
  font-size: 11.5px;
  line-height: 16.5px;
  letter-spacing: 0.1px;
}

.content-xs {
  font-family: Spartan;
  font-style: normal;
  font-weight: normal !important;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.1px;
}

caption {
  font-family: Spartan;
  font-style: normal;
  font-weight: 800 !important;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #645954 !important;
}

.full-height {
  min-height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11% 0%;
}
